Zerodha (1).json
{
  "name": "Zerodha",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "=If you are uncertain about which specific tool to employ, first retrieve and display a list of all available tools.\nExecution: Based on the gathered information, select and utilize the most suitable tool. There will be awlays availbale tool. \n\nAlays give response to user after thinking and evalauting: {{ $json.body }}",
        "options": {
          "systemMessage": "You are a helpful assistant.\n\nTool Usage Guidelines\nWhen a user asks to perform fetching or posting tasks on Zerodha or any other trading platform, first list all available tools. Then, decide which tool to call based on the user's specific request."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        12,
        620
      ],
      "id": "1e093435-527b-428c-b484-7d9b4dc6211c",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash-preview-05-20",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -140,
        820
      ],
      "id": "4eb62e48-74b0-465e-9cee-eed41a77145e",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "JluNpa8lZIlducnn",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Gets the list and description of all available tools"
      },
      "type": "n8n-nodes-mcp.mcpClientTool",
      "typeVersion": 1,
      "position": [
        160,
        840
      ],
      "id": "e31ac822-f432-45c8-936b-a9323e58ebee",
      "name": "Tools get",
      "alwaysOutputData": true,
      "credentials": {
        "mcpClientApi": {
          "id": "2M8uqx8d4pJuHFXH",
          "name": "Zerodha"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Its run the specific tool which AI agent passes to the tool with the parameters passed by AI agent as per the tool parameters.",
        "operation": "executeTool",
        "toolName": "={{ $fromAI(\"toolName\") }}",
        "toolParameters": "={{ $fromAI(\"tool-parameters\", \"paramaters to pass in the current tool, JSON, {}\") }}"
      },
      "type": "n8n-nodes-mcp.mcpClientTool",
      "typeVersion": 1,
      "position": [
        280,
        840
      ],
      "id": "05e9a868-732b-403a-a7cd-3e838701fc6a",
      "name": "tools run",
      "credentials": {
        "mcpClientApi": {
          "id": "2M8uqx8d4pJuHFXH",
          "name": "Zerodha"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "zerodha-agent-chat",
        "responseMode": "lastNode",
        "responseData": "allEntries",
        "options": {
          "allowedOrigins": "*",
          "rawBody": true
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -300,
        620
      ],
      "id": "b527b56f-bdde-4b17-87fa-72fd2cc9019d",
      "name": "Webhook1",
      "webhookId": "975f7f37-f6a7-4f3b-9dc6-cf6717bee3ed"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "323",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        40,
        840
      ],
      "id": "0f76b175-7b62-497d-81a7-3ce193294c81",
      "name": "Simple Memory"
    }
  ],
  "pinData": {},
  "connections": {
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Tools get": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "tools run": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Webhook1": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "5841253b-ca46-4f79-8ff0-f7bc328aefa2",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "155d6be2f344ea0e70524b569c3b71a81438b3bbac63b9c4addb57511d202744"
  },
  "id": "hvw2pWuEiyJ8iBYR",
  "tags": []
}